:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 350px;
  max-width: 350px;
  flex-grow: 1;
  padding: 10px 25px 0px 25px;
  row-gap: 15px;
}

#search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 0;
  width: 100%;
  padding: 0 10px;
}

#search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 12px;
  margin: 12px 0;
  background-color: var(--search);
  border-radius: 25px;
}

#search-wrapper:focus-within {
  outline: var(--button) solid thin;
}

#search-wrapper:focus-within .input-icon {
  color: var(--button);
}

#search-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-icon {
  line-height: 18px;
  width: 18px;
  height: 18px;
  color: var(--subtext);
}

#search-input-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

input[type="text"]#search-input {
  background: transparent;
  color: var(--text);
  resize: none;
  border: 0 none;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  margin: 0 12px;
}

input[type="text"]#search-input::placeholder {
  color: var(--subtext);
}

#trending-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  flex-grow: 0;
}

#trending {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding: 15px;
  background-color: var(--suggested);
  border-radius: 25px;
}

#suggested-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  flex-grow: 0;
}

#suggested {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding: 15px;
  background-color: var(--suggested);
  border-radius: 25px;
}

#trending h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: start;
}

#suggested h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: start;
}

#trending ul,
#suggested ul {
  list-style-type: none;
}

#userChanger {
  background-color: var(--background);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  color: var(--text);
}

#release-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#release-info {
  font-size: 12px;
}

@media (min-width: 0px) and (max-width: 500px) {
  :host {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  :host {
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 1280px) {
  :host {
    display: none;
  }
}

@media (min-width: 1000px) {
  :host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 350px;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 10px 25px;
  }
}

@media (min-width: 500px) and (max-width: 1280px) {
}

@media (min-width: 1280px) {
}
