<div class="App">
  <div class="App-wrapper">
    <aside id="Navigation">
      <a href="/">
        <div class="Navigation-link-inner">
          <div class="Navigation-icon-wrapper bird-logo">
            <i class="bi bi-twitter"></i>
          </div>
        </div>
      </a>
      <a href="/home" class="Active-tab">
        <div class="Navigation-link-inner">
          <div class="Navigation-icon-wrapper">
            <i class="bi bi-house-heart-fill"></i>
          </div>
          <div class="Navigation-label-wrapper">
            <span>Home</span>
          </div>
        </div>
      </a>
      <a href="/explore">
        <div class="Navigation-link-inner">
          <div class="Navigation-icon-wrapper">
            <i class="bi bi-hash"></i>
          </div>
          <div class="Navigation-label-wrapper">
            <span>Explore</span>
          </div>
        </div>
      </a>
      <a href="/notis">
        <div class="Navigation-link-inner">
          <div class="Navigation-icon-wrapper">
            <i class="bi bi-bell"></i>
          </div>
          <div class="Navigation-label-wrapper">
            <span>Notifications</span>
          </div>
        </div>
      </a>
      <a href="/dms">
        <div class="Navigation-link-inner">
          <div class="Navigation-icon-wrapper">
            <i class="bi bi-envelope"></i>
          </div>
          <div class="Navigation-label-wrapper">
            <span>Messages</span>
          </div>
        </div>
      </a>
      <a href="/profile">
        <div class="Navigation-link-inner">
          <div class="Navigation-icon-wrapper">
            <i class="bi bi-person"></i>
          </div>
          <div class="Navigation-label-wrapper">
            <span>Profile</span>
          </div>
        </div>
      </a>
      <a href="/new" class="Navigation-tweet-btn-lg">
        <div class="Navigation-tweet-btn-inner">
          <span class="Navigation-tweet-btn-label">Tweet</span>
        </div>
      </a>
      <a href="/new" class="Navigation-tweet-btn-sm">
        <div class="Navigation-tweet-btn-inner">
          <span class="Navigation-tweet-btn-icon">
            <i class="bi bi-pencil-square write-icon"></i>
          </span>
        </div>
      </a>

      <div class="Account-switch-container">
        <div class="Account-switch-wrapper">
          <div class="Account-switch-pfp-container">
            <i class="bi bi-person Account-switch-pfp"></i>
          </div>
          <div class="Account-switch-details-container">
            <div class="Account-switch-details-inner">
              <div class="Account-switch-name">eddy leon</div>
              <div class="Account-switch-tag">@eleon479</div>
            </div>
          </div>
          <div class="Account-switch-options">
            <i class="bi bi-three-dots"></i>
          </div>
        </div>
      </div>
    </aside>
    <main id="Main">
      <nav>
        <div id="Main-nav-inner">
          <div id="Main-nav-inner-col">
            <div>Home</div>
          </div>
        </div>
      </nav>
      <div class="Post-feed">
        <div id="Write-tweet">
          <div class="pfp-area">
            <i class="bi bi-person pfp-icon"></i>
          </div>
          <div id="Write-tweet-container">
            <div id="Write-tweet-input-wrapper">
              <textarea
                id="Write-tweet-input"
                placeholder="What's happening?"
                maxLength="140"
                [(ngModel)]="newTweetBuffer"
                (keydown)="onWriteTweetInput($event)"
              ></textarea>
            </div>
            <div *ngIf="newTweetSending">
              <div class="posts-loading">
                <div class="lds-ellipsis">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div id="Write-tweet-actions">
              <div id="Write-tweet-tools">
                <div class="tool-wrapper">
                  <i class="bi bi-image tool"></i>
                </div>
                <div class="tool-wrapper">
                  <i class="bi bi-filetype-gif tool"></i>
                </div>
                <div class="tool-wrapper">
                  <i class="bi bi-list-task tool"></i>
                </div>
                <div class="tool-wrapper">
                  <i class="bi bi-emoji-smile tool"></i>
                </div>
                <div class="tool-wrapper">
                  <i class="bi bi-calendar-plus tool"></i>
                </div>
                <div class="tool-wrapper">
                  <i class="bi bi-geo-alt tool"></i>
                </div>
              </div>
              <div id="Write-tweet-submit-wrapper">
                <a
                  (click)="onWriteTweetButtonClick()"
                  id="Write-tweet-submit-btn"
                >
                  <div id="Write-tweet-submit-btn-inner">
                    <span id="Write-tweet-submit-btn-label">Tweet</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="tweets.length < 1; else postFeed">
          <div class="posts-loading">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>

        <ng-template #postFeed>
          <div class="Post" *ngFor="let tweet of tweets">
            <div class="post-pfp-container">
              <i class="bi bi-person post-pfp-icon"></i>
            </div>
            <div class="post-contents-container">
              <div class="post-info">
                <div class="poster-name">{{ tweet.name }}</div>
                <div class="poster-tag">@{{ tweet.tag }}</div>
                <div class="time-since">
                  · {{ getTweetTimeElapsed(tweet.ts) }}
                </div>
              </div>
              <div class="post-text">{{ tweet.text }}</div>
              <div class="post-actions">
                <div class="reply-action">
                  <i class="bi bi-chat post-action"></i>
                </div>
                <div class="retweet-action">
                  <i class="bi bi-arrow-repeat post-action"></i>
                </div>
                <div class="like-action">
                  <i class="bi bi-heart post-action"></i>
                </div>
                <div class="share-action">
                  <i class="bi bi-upload post-action"></i>
                </div>
              </div>
            </div>
            <div class="post-options">
              <i class="bi bi-three-dots"></i>
            </div>
          </div>
        </ng-template>
      </div>
    </main>
    <aside id="Explore">
      <div id="search-container">
        <div id="search-wrapper">
          <div id="search-icon-wrapper">
            <i class="bi bi-search input-icon"></i>
          </div>
          <div id="search-input-wrapper">
            <input
              id="search-input"
              placeholder="Search Twitter"
              type="text"
              maxLength="27"
            />
          </div>
        </div>
      </div>
      <div id="trending-container">
        <div id="trending">
          <h2>What's happening</h2>
          <ul>
            <li>#ByeTwitter</li>
            <li>#GrimesComeBack</li>
            <li>#IllTakePeteDavidson</li>
          </ul>
        </div>
      </div>
      <div id="suggested-container">
        <div id="suggested">
          <h2>Who to follow</h2>
          <ul>
            <li>@abc</li>
            <li>@def</li>
            <li>#@ghi</li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>
